Procesamiento ETL con Pandas y MongoDB Atlas (Airbnb). Equipo #2

In [42]:
import pandas as pd
#Convierte los datos extraídos en un DataFrame de Pandas.
dataframe=pd.read_csv('sample_airbnb.listingsAndReviews.csv')
#dataframe.head()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_26068\912809907.py:3: DtypeWarning: Columns (78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,136,137,138,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031,3032,3033,3034,3035,3036,3037,3038,3039,3040,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050,3051,3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080,3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091,3092,3093,3094,3095,3096,3097,3098,3099,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116,3117,3118,3119,3120,3121,3122,3123,3124,3125,3126,3127,3128,3129,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142,3143,3144,3145,3146,3147,3148,3149,3150,3151,3152,3153,3154,3155,3156,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176,3177,3178,3179,3180,3181,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191,3192,3193,3194,3195,3196,3197,3198,3199,3200,3201,3202,3203,3204,3205,3206,3207,3208,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3222,3223,3224,3225,3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248,3249,3250,3251,3252,3253,3254,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3275,3276,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286,3287,3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299,3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348,3349,3350,3351,3352,3353,3354,3355,3356,3357) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe=pd.read_csv('sample_airbnb.listingsAndReviews.csv')

 Numero total de registros

In [43]:
print(f"Total de registros o filas: {dataframe.shape[0]}")
print(f"Total de columnas: {dataframe.shape[1]}")

Total de registros o filas: 5555
Total de columnas: 3361

Elimina las filas donde price o review_scores.review_scores_rating sean nulos.

In [44]:
dataframe = dataframe.dropna(subset=['price', 'review_scores.review_scores_rating'])
#Validacion si existen datos null en las filas de dichas columnas
print(dataframe[['price', 'review_scores.review_scores_rating']].isnull().sum())

price                                 0
review_scores.review_scores_rating    0
dtype: int64

Convierte price a un tipo de dato numérico (elimina signos de moneda si es necesario).

In [45]:
print(dataframe['price'].head(5)) #Verificamos si los datos de price estan almacenados con signos de moneda
print(dataframe['price'].dtype) #validamos tipo de dato numerico

0    135.0
1    527.0
2    205.0
4     30.0
5    185.0
Name: price, dtype: float64
float64

Calcula el precio promedio por tipo de propiedad (property_type)

In [ ]:

precio_promedio = dataframe.groupby('property_type', as_index=False)['price'].mean()
print(precio_promedio)

             property_type        price
0               Aparthotel   212.071429
1                Apartment   205.557255
2                     Barn   135.000000
3        Bed and breakfast   301.800000
4                     Boat    35.000000
5           Boutique hotel   286.843750
6                 Bungalow   165.000000
7                    Cabin    80.500000
8                Camper/RV    70.000000
9                 Campsite    25.000000
10  Casa particular (Cuba)    54.500000
11                  Chalet   401.000000
12             Condominium   301.181518
13                 Cottage   164.117647
14             Earth house    67.000000
15               Farm stay   208.285714
16             Guest suite   147.927536
17              Guesthouse   160.918367
18                  Hostel   246.421053
19                   Hotel   827.812500
20                   House   239.527523
21               Houseboat  2999.000000
22                     Hut    68.000000
23                    Loft   165.176991
24            Nature lodge   158.000000
25                   Other   181.666667
26   Pension (South Korea)   502.000000
27                  Resort   278.750000
28      Serviced apartment   441.366667
29              Tiny house   307.200000
30               Townhouse   181.322222
31                   Train   109.000000
32               Treehouse   185.000000
33                   Villa   203.833333

Encuentra el top 5 de tipos de propiedad con mayor cantidad de alojamientos.

In [47]:
mayor_num_alojamientos = dataframe['property_type'].value_counts().nlargest(5).reset_index()
mayor_num_alojamientos.columns = ['property_type', 'cantidad']
print(mayor_num_alojamientos)

        property_type  cantidad
0           Apartment      2681
1               House       436
2         Condominium       303
3  Serviced apartment       120
4                Loft       113

Carga de Datos Transformados

In [48]:
dataframe.to_csv('airbnb_cleaned.csv', index=False, encoding="utf-8")